openapi: 3.0.3
info:
  title: MAX Bot API
  version: 0.3.0-draft
  description: |
    Draft OpenAPI entrypoint for the future MAX common SDK platform.
    The initial operation set is aligned with public methods from the official
    max-messenger TypeScript client.
servers:
  - url: https://api.max.ru
    description: Production
tags:
  - name: health
    description: Bootstrap endpoints used while the common SDK platform is scaffolded.
  - name: bots
    description: Bot profile methods.
  - name: chats
    description: Chat read and action methods.
  - name: subscriptions
    description: Update polling methods.
  - name: uploads
    description: Upload bootstrap methods.
  - name: messages
    description: Message send and read methods.
paths:
  /health:
    get:
      tags: [health]
      summary: Health check
      operationId: getHealth
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /me:
    get:
      tags: [bots]
      summary: Get current bot info
      operationId: getMyInfo
      responses:
        '200':
          description: Bot info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BotInfo'
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags: [bots]
      summary: Edit current bot info
      operationId: editMyInfo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditMyInfoRequest'
      responses:
        '200':
          description: Updated bot info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BotInfo'
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /updates:
    get:
      tags: [subscriptions]
      summary: Get updates
      operationId: getUpdates
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
        - name: timeout
          in: query
          required: false
          schema:
            type: integer
        - name: marker
          in: query
          required: false
          schema:
            type: integer
        - name: types
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Updates page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUpdatesResponse'
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /uploads:
    post:
      tags: [uploads]
      summary: Get upload URL
      operationId: getUploadUrl
      parameters:
        - name: type
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/UploadType'
      responses:
        '200':
          description: Upload destination
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUploadUrlResponse'
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /chats:
    get:
      tags: [chats]
      summary: Get all chats
      operationId: getAllChats
      parameters:
        - name: count
          in: query
          required: false
          schema:
            type: integer
        - name: marker
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Chats page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllChatsResponse'
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /chats/{chat_id}:
    get:
      tags: [chats]
      summary: Get chat by id
      operationId: getChatById
      parameters:
        - name: chat_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Chat
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chat'
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags: [chats]
      summary: Edit chat info
      operationId: editChatInfo
      parameters:
        - name: chat_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditChatInfoRequest'
      responses:
        '200':
          description: Updated chat
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chat'
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /chats/by-link/{chat_link}:
    get:
      tags: [chats]
      summary: Get chat by link
      operationId: getChatByLink
      x-max-wire-path: /chats/{chat_link}
      parameters:
        - name: chat_link
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Chat
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chat'
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /chats/{chat_id}/actions:
    post:
      tags: [chats]
      summary: Send action
      operationId: sendAction
      parameters:
        - name: chat_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendActionRequest'
      responses:
        '200':
          description: Action sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionResponse'
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /chats/{chat_id}/pin:
    get:
      tags: [chats]
      summary: Get pinned message
      operationId: getPinnedMessage
      parameters:
        - name: chat_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Pinned message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPinnedMessageResponse'
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags: [chats]
      summary: Pin message
      operationId: pinMessage
      parameters:
        - name: chat_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PinMessageRequest'
      responses:
        '200':
          description: Pin result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionResponse'
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags: [chats]
      summary: Unpin message
      operationId: unpinMessage
      parameters:
        - name: chat_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Unpin result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionResponse'
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /chats/{chat_id}/members/me:
    get:
      tags: [chats]
      summary: Get current bot membership in chat
      operationId: getChatMembership
      parameters:
        - name: chat_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Membership
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatMember'
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags: [chats]
      summary: Leave chat
      operationId: leaveChat
      parameters:
        - name: chat_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Leave result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionResponse'
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /chats/{chat_id}/members/admins:
    get:
      tags: [chats]
      summary: Get chat admins
      operationId: getChatAdmins
      parameters:
        - name: chat_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Chat admins
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetChatAdminsResponse'
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /chats/{chat_id}/members:
    get:
      tags: [chats]
      summary: Get chat members
      operationId: getChatMembers
      parameters:
        - name: chat_id
          in: path
          required: true
          schema:
            type: integer
        - name: user_ids
          in: query
          required: false
          schema:
            type: array
            items:
              type: integer
        - name: marker
          in: query
          required: false
          schema:
            type: integer
        - name: count
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Chat members
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetChatMembersResponse'
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags: [chats]
      summary: Add chat members
      operationId: addChatMembers
      parameters:
        - name: chat_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddChatMembersRequest'
      responses:
        '200':
          description: Add members result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionResponse'
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags: [chats]
      summary: Remove chat member
      operationId: removeChatMember
      parameters:
        - name: chat_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveChatMemberRequest'
      responses:
        '200':
          description: Remove member result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionResponse'
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /messages:
    get:
      tags: [messages]
      summary: Get messages
      operationId: getMessages
      parameters:
        - name: chat_id
          in: query
          required: false
          schema:
            type: integer
        - name: message_ids
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
        - name: from
          in: query
          required: false
          schema:
            type: integer
        - name: to
          in: query
          required: false
          schema:
            type: integer
        - name: count
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Messages list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMessagesResponse'
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags: [messages]
      summary: Send message
      operationId: sendMessage
      parameters:
        - name: user_id
          in: query
          required: false
          schema:
            type: integer
        - name: chat_id
          in: query
          required: false
          schema:
            type: integer
        - name: disable_link_preview
          in: query
          required: false
          schema:
            type: boolean
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMessageRequest'
      responses:
        '200':
          description: Sent message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendMessageResponse'
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags: [messages]
      summary: Delete message
      operationId: deleteMessage
      parameters:
        - name: message_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Delete result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionResponse'
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags: [messages]
      summary: Edit message
      operationId: editMessage
      parameters:
        - name: message_id
          in: query
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditMessageRequest'
      responses:
        '200':
          description: Edit result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionResponse'
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /messages/{message_id}:
    get:
      tags: [messages]
      summary: Get message by id
      operationId: getMessageById
      parameters:
        - name: message_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /answers:
    post:
      tags: [messages]
      summary: Answer on callback
      operationId: answerOnCallback
      parameters:
        - name: callback_id
          in: query
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnswerOnCallbackRequest'
      responses:
        '200':
          description: Callback answer result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionResponse'
        default:
          description: API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    ErrorResponse:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: string
          nullable: true

    HealthResponse:
      type: object
      required: [status]
      properties:
        status:
          type: string
          example: ok

    BotCommand:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
          nullable: true

    BotInfo:
      type: object
      required: [user_id, name, is_bot, last_activity_time]
      properties:
        user_id:
          type: integer
        name:
          type: string
        username:
          type: string
          nullable: true
        is_bot:
          type: boolean
        last_activity_time:
          type: integer
        description:
          type: string
          nullable: true
        avatar_url:
          type: string
        full_avatar_url:
          type: string
        commands:
          type: array
          items:
            $ref: '#/components/schemas/BotCommand'
          nullable: true

    User:
      type: object
      required: [user_id, name, is_bot, last_activity_time]
      properties:
        user_id:
          type: integer
        name:
          type: string
        username:
          type: string
          nullable: true
        is_bot:
          type: boolean
        last_activity_time:
          type: integer
        description:
          type: string
          nullable: true
        avatar_url:
          type: string
        full_avatar_url:
          type: string

    ChatType:
      type: string
      enum: [dialog, chat, channel]

    ChatStatus:
      type: string
      enum: [active, removed, left, closed, suspended]

    SenderAction:
      type: string
      enum: [typing_on, sending_photo, sending_video, sending_audio, sending_file, mark_seen]

    ChatIcon:
      type: object
      required: [url]
      properties:
        url:
          type: string

    PhotoAttachmentRequestPayload:
      type: object
      properties:
        url:
          type: string
          nullable: true
        token:
          type: string
          nullable: true
        photos:
          $ref: '#/components/schemas/PhotoTokenMap'
          nullable: true

    PhotoTokenMap:
      type: object
      additionalProperties:
        type: string

    Chat:
      type: object
      required: [chat_id, type, status, last_event_time, participants_count, is_public]
      properties:
        chat_id:
          type: integer
        type:
          $ref: '#/components/schemas/ChatType'
        status:
          $ref: '#/components/schemas/ChatStatus'
        title:
          type: string
          nullable: true
        icon:
          $ref: '#/components/schemas/ChatIcon'
        last_event_time:
          type: integer
        participants_count:
          type: integer
        owner_id:
          type: integer
          nullable: true
        is_public:
          type: boolean
        link:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        messages_count:
          type: integer
          nullable: true
        chat_message_id:
          type: string
          nullable: true
        participants:
          $ref: '#/components/schemas/ChatParticipantsMap'
          nullable: true
        dialog_with_user:
          type: object
          nullable: true
        pinned_message:
          type: object
          nullable: true

    ChatParticipantsMap:
      type: object
      additionalProperties:
        type: integer

    ChatPermissions:
      type: string
      enum: [read_all_messages, add_remove_members, add_admins, change_chat_info, pin_message, write]

    ChatMember:
      type: object
      required: [user_id, name, is_bot, last_activity_time, last_access_time, is_owner, is_admin, join_time]
      properties:
        user_id:
          type: integer
        name:
          type: string
        username:
          type: string
          nullable: true
        is_bot:
          type: boolean
        last_activity_time:
          type: integer
        description:
          type: string
          nullable: true
        avatar_url:
          type: string
        full_avatar_url:
          type: string
        last_access_time:
          type: integer
        is_owner:
          type: boolean
        is_admin:
          type: boolean
        join_time:
          type: integer
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/ChatPermissions'
          nullable: true

    GetAllChatsResponse:
      type: object
      required: [chats]
      properties:
        chats:
          type: array
          items:
            $ref: '#/components/schemas/Chat'
        marker:
          type: integer
          nullable: true

    EditMyInfoRequest:
      type: object
      properties:
        name:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        commands:
          type: array
          items:
            $ref: '#/components/schemas/BotCommand'
          nullable: true
        photo:
          $ref: '#/components/schemas/PhotoAttachmentRequestPayload'

    UploadType:
      type: string
      enum: [image, video, audio, file]

    GetUploadUrlResponse:
      type: object
      required: [url]
      properties:
        url:
          type: string
        token:
          type: string

    ActionResponse:
      type: object
      required: [success]
      properties:
        success:
          type: boolean
        message:
          type: string
          nullable: true

    GetChatAdminsResponse:
      type: object
      required: [members]
      properties:
        members:
          type: array
          items:
            $ref: '#/components/schemas/ChatMember'
        marker:
          type: integer
          nullable: true

    GetChatMembersResponse:
      type: object
      required: [members]
      properties:
        members:
          type: array
          items:
            $ref: '#/components/schemas/ChatMember'
        marker:
          type: integer
          nullable: true

    AddChatMembersRequest:
      type: object
      required: [user_ids]
      properties:
        user_ids:
          type: array
          items:
            type: integer

    RemoveChatMemberRequest:
      type: object
      required: [user_id]
      properties:
        user_id:
          type: integer
        block:
          type: boolean

    EditChatInfoRequest:
      type: object
      properties:
        icon:
          $ref: '#/components/schemas/PhotoAttachmentRequestPayload'
        title:
          type: string
          nullable: true
        pin:
          type: string
          nullable: true
        notify:
          type: boolean
          nullable: true

    MessageRecipient:
      type: object
      required: [chat_type]
      properties:
        chat_id:
          type: integer
          nullable: true
        chat_type:
          type: string

    AttachmentRequest:
      oneOf:
        - $ref: '#/components/schemas/ImageAttachmentRequest'
        - $ref: '#/components/schemas/VideoAttachmentRequest'
        - $ref: '#/components/schemas/AudioAttachmentRequest'
        - $ref: '#/components/schemas/FileAttachmentRequest'
        - $ref: '#/components/schemas/StickerAttachmentRequest'
        - $ref: '#/components/schemas/ContactAttachmentRequest'
        - $ref: '#/components/schemas/InlineKeyboardAttachmentRequest'
        - $ref: '#/components/schemas/ShareAttachmentRequest'
        - $ref: '#/components/schemas/LocationAttachmentRequest'
      discriminator:
        propertyName: type
        mapping:
          image: '#/components/schemas/ImageAttachmentRequest'
          video: '#/components/schemas/VideoAttachmentRequest'
          audio: '#/components/schemas/AudioAttachmentRequest'
          file: '#/components/schemas/FileAttachmentRequest'
          sticker: '#/components/schemas/StickerAttachmentRequest'
          contact: '#/components/schemas/ContactAttachmentRequest'
          inline_keyboard: '#/components/schemas/InlineKeyboardAttachmentRequest'
          share: '#/components/schemas/ShareAttachmentRequest'
          location: '#/components/schemas/LocationAttachmentRequest'

    ImageAttachmentRequest:
      type: object
      required: [type, payload]
      properties:
        type:
          type: string
          enum: [image]
        payload:
          $ref: '#/components/schemas/PhotoAttachmentRequestPayload'

    VideoAttachmentRequest:
      type: object
      required: [type, payload]
      properties:
        type:
          type: string
          enum: [video]
        payload:
          $ref: '#/components/schemas/MediaAttachmentRequestPayload'

    AudioAttachmentRequest:
      type: object
      required: [type, payload]
      properties:
        type:
          type: string
          enum: [audio]
        payload:
          $ref: '#/components/schemas/MediaAttachmentRequestPayload'

    FileAttachmentRequest:
      type: object
      required: [type, payload]
      properties:
        type:
          type: string
          enum: [file]
        payload:
          $ref: '#/components/schemas/MediaAttachmentRequestPayload'

    StickerAttachmentRequest:
      type: object
      required: [type, payload]
      properties:
        type:
          type: string
          enum: [sticker]
        payload:
          $ref: '#/components/schemas/StickerAttachmentRequestPayload'

    ContactAttachmentRequest:
      type: object
      required: [type, payload]
      properties:
        type:
          type: string
          enum: [contact]
        payload:
          $ref: '#/components/schemas/ContactAttachmentRequestPayload'

    InlineKeyboardAttachmentRequest:
      type: object
      required: [type, payload]
      properties:
        type:
          type: string
          enum: [inline_keyboard]
        payload:
          $ref: '#/components/schemas/InlineKeyboardAttachmentRequestPayload'

    ShareAttachmentRequest:
      type: object
      required: [type, payload]
      properties:
        type:
          type: string
          enum: [share]
        payload:
          $ref: '#/components/schemas/ShareAttachmentRequestPayload'

    LocationAttachmentRequest:
      type: object
      required: [type, latitude, longitude]
      properties:
        type:
          type: string
          enum: [location]
        latitude:
          type: number
        longitude:
          type: number

    MediaAttachmentRequestPayload:
      type: object
      properties:
        token:
          type: string
          nullable: true

    StickerAttachmentRequestPayload:
      type: object
      required: [code]
      properties:
        code:
          type: string

    ContactAttachmentRequestPayload:
      type: object
      properties:
        name:
          type: string
          nullable: true
        contact_id:
          type: integer
          nullable: true
        vcf_info:
          type: string
          nullable: true
        vcf_phone:
          type: string
          nullable: true

    KeyboardButtonIntent:
      type: string
      enum: [default, positive, negative]

    InlineKeyboardButton:
      oneOf:
        - $ref: '#/components/schemas/CallbackButton'
        - $ref: '#/components/schemas/LinkButton'
        - $ref: '#/components/schemas/RequestContactButton'
        - $ref: '#/components/schemas/RequestGeoLocationButton'
        - $ref: '#/components/schemas/OpenAppButton'
        - $ref: '#/components/schemas/MessageButton'
      discriminator:
        propertyName: type
        mapping:
          callback: '#/components/schemas/CallbackButton'
          link: '#/components/schemas/LinkButton'
          request_contact: '#/components/schemas/RequestContactButton'
          request_geo_location: '#/components/schemas/RequestGeoLocationButton'
          open_app: '#/components/schemas/OpenAppButton'
          message: '#/components/schemas/MessageButton'

    InlineKeyboardRow:
      type: array
      items:
        $ref: '#/components/schemas/InlineKeyboardButton'

    InlineKeyboard:
      type: array
      items:
        $ref: '#/components/schemas/InlineKeyboardRow'

    CallbackButton:
      type: object
      required: [type, text, payload]
      properties:
        type:
          type: string
          enum: [callback]
        text:
          type: string
        payload:
          type: string
        intent:
          $ref: '#/components/schemas/KeyboardButtonIntent'
          nullable: true

    LinkButton:
      type: object
      required: [type, text, url]
      properties:
        type:
          type: string
          enum: [link]
        text:
          type: string
        url:
          type: string

    RequestContactButton:
      type: object
      required: [type, text]
      properties:
        type:
          type: string
          enum: [request_contact]
        text:
          type: string

    RequestGeoLocationButton:
      type: object
      required: [type, text]
      properties:
        type:
          type: string
          enum: [request_geo_location]
        text:
          type: string
        quick:
          type: boolean
          nullable: true

    OpenAppButton:
      type: object
      required: [type, text]
      properties:
        type:
          type: string
          enum: [open_app]
        text:
          type: string
        web_app:
          type: string
          nullable: true
        payload:
          type: string
          nullable: true
        contact_id:
          type: integer
          nullable: true

    MessageButton:
      type: object
      required: [type, text]
      properties:
        type:
          type: string
          enum: [message]
        text:
          type: string

    InlineKeyboardAttachmentRequestPayload:
      type: object
      properties:
        buttons:
          $ref: '#/components/schemas/InlineKeyboard'

    ShareAttachmentRequestPayload:
      type: object
      properties:
        token:
          type: string
          nullable: true
        url:
          type: string
          nullable: true

    Attachment:
      oneOf:
        - $ref: '#/components/schemas/ImageAttachment'
        - $ref: '#/components/schemas/VideoAttachment'
        - $ref: '#/components/schemas/AudioAttachment'
        - $ref: '#/components/schemas/FileAttachment'
        - $ref: '#/components/schemas/StickerAttachment'
        - $ref: '#/components/schemas/ContactAttachment'
        - $ref: '#/components/schemas/InlineKeyboardAttachment'
        - $ref: '#/components/schemas/ShareAttachment'
        - $ref: '#/components/schemas/LocationAttachment'
      discriminator:
        propertyName: type
        mapping:
          image: '#/components/schemas/ImageAttachment'
          video: '#/components/schemas/VideoAttachment'
          audio: '#/components/schemas/AudioAttachment'
          file: '#/components/schemas/FileAttachment'
          sticker: '#/components/schemas/StickerAttachment'
          contact: '#/components/schemas/ContactAttachment'
          inline_keyboard: '#/components/schemas/InlineKeyboardAttachment'
          share: '#/components/schemas/ShareAttachment'
          location: '#/components/schemas/LocationAttachment'

    MediaPayload:
      type: object
      required: [url, token]
      properties:
        url:
          type: string
        token:
          type: string

    ImageAttachmentPayload:
      type: object
      required: [url, token, photo_id]
      properties:
        url:
          type: string
        token:
          type: string
        photo_id:
          type: integer

    ImageAttachment:
      type: object
      required: [type, payload]
      properties:
        type:
          type: string
          enum: [image]
        payload:
          $ref: '#/components/schemas/ImageAttachmentPayload'

    VideoAttachment:
      type: object
      required: [type, payload]
      properties:
        type:
          type: string
          enum: [video]
        payload:
          $ref: '#/components/schemas/MediaPayload'
        thumbnail:
          type: string
          nullable: true
        width:
          type: integer
          nullable: true
        height:
          type: integer
          nullable: true
        duration:
          type: integer
          nullable: true

    AudioAttachment:
      type: object
      required: [type, payload]
      properties:
        type:
          type: string
          enum: [audio]
        payload:
          $ref: '#/components/schemas/MediaPayload'

    FileAttachment:
      type: object
      required: [type, payload, filename, size]
      properties:
        type:
          type: string
          enum: [file]
        payload:
          $ref: '#/components/schemas/MediaPayload'
        filename:
          type: string
        size:
          type: integer

    StickerAttachmentPayload:
      type: object
      required: [url, code]
      properties:
        url:
          type: string
        code:
          type: string

    StickerAttachment:
      type: object
      required: [type, payload, width, height]
      properties:
        type:
          type: string
          enum: [sticker]
        payload:
          $ref: '#/components/schemas/StickerAttachmentPayload'
        width:
          type: integer
        height:
          type: integer

    ContactAttachmentPayload:
      type: object
      properties:
        vcf_info:
          type: string
          nullable: true
        tam_info:
          $ref: '#/components/schemas/User'
          nullable: true

    ContactAttachment:
      type: object
      required: [type, payload]
      properties:
        type:
          type: string
          enum: [contact]
        payload:
          $ref: '#/components/schemas/ContactAttachmentPayload'

    InlineKeyboardAttachmentPayload:
      type: object
      properties:
        buttons:
          $ref: '#/components/schemas/InlineKeyboard'

    InlineKeyboardAttachment:
      type: object
      required: [type, payload]
      properties:
        type:
          type: string
          enum: [inline_keyboard]
        payload:
          $ref: '#/components/schemas/InlineKeyboardAttachmentPayload'

    ShareAttachment:
      type: object
      required: [type, payload]
      properties:
        type:
          type: string
          enum: [share]
        payload:
          type: object
        title:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        image_url:
          type: string
          nullable: true

    LocationAttachment:
      type: object
      required: [type, latitude, longitude]
      properties:
        type:
          type: string
          enum: [location]
        latitude:
          type: number
        longitude:
          type: number

    MessageLinkType:
      type: string
      enum: [forward, reply]

    MarkupElementType:
      type: string
      enum: [strong, bold, emphasized, italic, strikethrough, underline, monospaced, code, link, mention]

    MarkupElement:
      type: object
      required: [type, from, length]
      properties:
        type:
          $ref: '#/components/schemas/MarkupElementType'
        from:
          type: integer
        length:
          type: integer
        user_link:
          type: string
          nullable: true
        user_id:
          type: integer
          nullable: true

    MessageLinkReference:
      type: object
      required: [type, mid]
      properties:
        type:
          $ref: '#/components/schemas/MessageLinkType'
        mid:
          type: string

    LinkedMessage:
      type: object
      required: [type, message]
      properties:
        type:
          $ref: '#/components/schemas/MessageLinkType'
        sender:
          $ref: '#/components/schemas/User'
          nullable: true
        chat_id:
          type: integer
        message:
          $ref: '#/components/schemas/MessageBody'

    MessageStat:
      type: object
      required: [views]
      properties:
        views:
          type: integer

    UserLocale:
      type: string

    CallbackInfo:
      type: object
      required: [timestamp, callback_id, user]
      properties:
        timestamp:
          type: integer
        callback_id:
          type: string
        payload:
          type: string
          nullable: true
        user:
          $ref: '#/components/schemas/User'

    MessageBody:
      type: object
      required: [mid, seq]
      properties:
        mid:
          type: string
        seq:
          type: integer
        text:
          type: string
          nullable: true
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/Attachment'
          nullable: true
        markup:
          type: array
          items:
            $ref: '#/components/schemas/MarkupElement'
          nullable: true

    Message:
      type: object
      required: [recipient, timestamp, body]
      properties:
        sender:
          $ref: '#/components/schemas/User'
          nullable: true
        recipient:
          $ref: '#/components/schemas/MessageRecipient'
        timestamp:
          type: integer
        link:
          $ref: '#/components/schemas/LinkedMessage'
          nullable: true
        body:
          $ref: '#/components/schemas/MessageBody'
        stat:
          $ref: '#/components/schemas/MessageStat'
          nullable: true
        url:
          type: string
          nullable: true
        constructor:
          $ref: '#/components/schemas/User'
          nullable: true

    SendMessageRequest:
      type: object
      properties:
        text:
          type: string
          nullable: true
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/AttachmentRequest'
          nullable: true
        link:
          $ref: '#/components/schemas/MessageLinkReference'
        notify:
          type: boolean
        format:
          type: string
          nullable: true

    EditMessageRequest:
      type: object
      properties:
        text:
          type: string
          nullable: true
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/AttachmentRequest'
          nullable: true
        link:
          $ref: '#/components/schemas/MessageLinkReference'
        notify:
          type: boolean
        format:
          type: string
          nullable: true

    AnswerOnCallbackRequest:
      type: object
      properties:
        message:
          $ref: '#/components/schemas/SendMessageRequest'
        notification:
          type: string
          nullable: true

    GetMessagesResponse:
      type: object
      required: [messages]
      properties:
        messages:
          type: array
          items:
            $ref: '#/components/schemas/Message'

    SendMessageResponse:
      type: object
      required: [message]
      properties:
        message:
          $ref: '#/components/schemas/Message'

    ConstructedMessage:
      type: object
      required: [timestamp, body]
      properties:
        sender:
          $ref: '#/components/schemas/User'
          nullable: true
        timestamp:
          type: integer
        link:
          $ref: '#/components/schemas/LinkedMessage'
          nullable: true
        body:
          $ref: '#/components/schemas/MessageBody'

    Update:
      oneOf:
        - $ref: '#/components/schemas/MessageCallbackUpdate'
        - $ref: '#/components/schemas/MessageCreatedUpdate'
        - $ref: '#/components/schemas/MessageRemovedUpdate'
        - $ref: '#/components/schemas/MessageEditedUpdate'
        - $ref: '#/components/schemas/BotAddedUpdate'
        - $ref: '#/components/schemas/BotRemovedUpdate'
        - $ref: '#/components/schemas/UserAddedUpdate'
        - $ref: '#/components/schemas/UserRemovedUpdate'
        - $ref: '#/components/schemas/BotStartedUpdate'
        - $ref: '#/components/schemas/ChatTitleChangedUpdate'
        - $ref: '#/components/schemas/MessageConstructionRequestUpdate'
        - $ref: '#/components/schemas/MessageConstructedUpdate'
        - $ref: '#/components/schemas/MessageChatCreatedUpdate'
      discriminator:
        propertyName: update_type
        mapping:
          message_callback: '#/components/schemas/MessageCallbackUpdate'
          message_created: '#/components/schemas/MessageCreatedUpdate'
          message_removed: '#/components/schemas/MessageRemovedUpdate'
          message_edited: '#/components/schemas/MessageEditedUpdate'
          bot_added: '#/components/schemas/BotAddedUpdate'
          bot_removed: '#/components/schemas/BotRemovedUpdate'
          user_added: '#/components/schemas/UserAddedUpdate'
          user_removed: '#/components/schemas/UserRemovedUpdate'
          bot_started: '#/components/schemas/BotStartedUpdate'
          chat_title_changed: '#/components/schemas/ChatTitleChangedUpdate'
          message_construction_request: '#/components/schemas/MessageConstructionRequestUpdate'
          message_constructed: '#/components/schemas/MessageConstructedUpdate'
          message_chat_created: '#/components/schemas/MessageChatCreatedUpdate'

    MessageCallbackUpdate:
      type: object
      required: [update_type, timestamp, callback]
      properties:
        update_type:
          type: string
          enum: [message_callback]
        timestamp:
          type: integer
        callback:
          $ref: '#/components/schemas/CallbackInfo'
        message:
          $ref: '#/components/schemas/Message'
          nullable: true
        user_locale:
          $ref: '#/components/schemas/UserLocale'
          nullable: true

    MessageCreatedUpdate:
      type: object
      required: [update_type, timestamp, message]
      properties:
        update_type:
          type: string
          enum: [message_created]
        timestamp:
          type: integer
        message:
          $ref: '#/components/schemas/Message'
        user_locale:
          $ref: '#/components/schemas/UserLocale'
          nullable: true

    MessageRemovedUpdate:
      type: object
      required: [update_type, timestamp, message_id, chat_id, user_id]
      properties:
        update_type:
          type: string
          enum: [message_removed]
        timestamp:
          type: integer
        message_id:
          type: string
        chat_id:
          type: integer
        user_id:
          type: integer

    MessageEditedUpdate:
      type: object
      required: [update_type, timestamp, message]
      properties:
        update_type:
          type: string
          enum: [message_edited]
        timestamp:
          type: integer
        message:
          $ref: '#/components/schemas/Message'

    BotAddedUpdate:
      type: object
      required: [update_type, timestamp, chat_id, user, is_channel]
      properties:
        update_type:
          type: string
          enum: [bot_added]
        timestamp:
          type: integer
        chat_id:
          type: integer
        user:
          $ref: '#/components/schemas/User'
        is_channel:
          type: boolean

    BotRemovedUpdate:
      type: object
      required: [update_type, timestamp, chat_id, user, is_channel]
      properties:
        update_type:
          type: string
          enum: [bot_removed]
        timestamp:
          type: integer
        chat_id:
          type: integer
        user:
          $ref: '#/components/schemas/User'
        is_channel:
          type: boolean

    UserAddedUpdate:
      type: object
      required: [update_type, timestamp, chat_id, user, is_channel]
      properties:
        update_type:
          type: string
          enum: [user_added]
        timestamp:
          type: integer
        chat_id:
          type: integer
        user:
          $ref: '#/components/schemas/User'
        inviter_id:
          type: integer
          nullable: true
        is_channel:
          type: boolean

    UserRemovedUpdate:
      type: object
      required: [update_type, timestamp, chat_id, user, is_channel]
      properties:
        update_type:
          type: string
          enum: [user_removed]
        timestamp:
          type: integer
        chat_id:
          type: integer
        user:
          $ref: '#/components/schemas/User'
        admin_id:
          type: integer
          nullable: true
        is_channel:
          type: boolean

    BotStartedUpdate:
      type: object
      required: [update_type, timestamp, chat_id, user]
      properties:
        update_type:
          type: string
          enum: [bot_started]
        timestamp:
          type: integer
        chat_id:
          type: integer
        user:
          $ref: '#/components/schemas/User'
        payload:
          type: string
          nullable: true
        user_locale:
          $ref: '#/components/schemas/UserLocale'

    ChatTitleChangedUpdate:
      type: object
      required: [update_type, timestamp, chat_id, user, title]
      properties:
        update_type:
          type: string
          enum: [chat_title_changed]
        timestamp:
          type: integer
        chat_id:
          type: integer
        user:
          $ref: '#/components/schemas/User'
        title:
          type: string

    MessageConstructionRequestUpdate:
      type: object
      required: [update_type, timestamp, user, session_id, input]
      properties:
        update_type:
          type: string
          enum: [message_construction_request]
        timestamp:
          type: integer
        user:
          $ref: '#/components/schemas/User'
        user_locale:
          $ref: '#/components/schemas/UserLocale'
        session_id:
          type: string
        data:
          type: string
          nullable: true
        input:
          type: object

    MessageConstructedUpdate:
      type: object
      required: [update_type, timestamp, user, session_id, message]
      properties:
        update_type:
          type: string
          enum: [message_constructed]
        timestamp:
          type: integer
        user:
          $ref: '#/components/schemas/User'
        session_id:
          type: string
        message:
          $ref: '#/components/schemas/ConstructedMessage'

    MessageChatCreatedUpdate:
      type: object
      required: [update_type, timestamp, chat, message_id]
      properties:
        update_type:
          type: string
          enum: [message_chat_created]
        timestamp:
          type: integer
        chat:
          $ref: '#/components/schemas/Chat'
        message_id:
          type: string
        start_payload:
          type: string
          nullable: true

    GetUpdatesResponse:
      type: object
      required: [updates, marker]
      properties:
        updates:
          type: array
          items:
            $ref: '#/components/schemas/Update'
        marker:
          type: integer

    SendActionRequest:
      type: object
      required: [action]
      properties:
        action:
          $ref: '#/components/schemas/SenderAction'

    GetPinnedMessageResponse:
      type: object
      required: [message]
      properties:
        message:
          $ref: '#/components/schemas/Message'

    PinMessageRequest:
      type: object
      required: [message_id]
      properties:
        message_id:
          type: string
        notify:
          type: boolean
          nullable: true
